*{
    margin: 0;
    padding: 0;
}
body{
    /* height: 1000px; */
}
.navbar-brand{
    font-family: 'Rock Salt';
    color: #8F7F7F !important;
}
nav{
    position: absolute;
    z-index: 999;
    /* margin-top: 0 !important; */
    /* bottom: 0;
    top: 0;
    left: 0;
    right: 0; */
    /* background-color: white; */
    /* height: 50px !important; */
    /* margin-bottom: 150px; */
    /* background-color: rgba(0, 0, 0, 0.7); */
}
.nav-link{
    color: white !important;
    margin-right: 30px;
    /* font-size: px; */
}
.kartu{
    /* margin-top: 500px; */
}





@media (min-width: 992px) { 
    .navbar-brand, .nav-link{
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    .navbar-brand{
        font-size: 40px !important;
    }
    .nav-link{
        text-transform: uppercase;
    }
    .nav-link:focus::after{
        content: '';
        display: block;
        border-bottom: 3px solid #ffffff;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}